@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Ubuntu&display=swap');


body {
    font-size: 1.5em;
    overflow-x: hidden;

}
a{
    text-decoration: none;
    color: white;

}
p{
    white-space: pre-wrap;

}


.navbar {
    background-color: #271441;
    border-radius: 20px;
    width: 90%;
    height: 95%;
    filter: drop-shadow(0px 0px 1em #7a00ff);
    box-shadow: 0px 0px 1em grey;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}


.bg-darkviolet {
    background-color: #220222;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.profil-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    width: 80%;
    margin: 5%;
}

.mey {
    background-image: url("Images/mey.jpg");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    filter: drop-shadow(0px 0px 1em #7a00ff);
    box-shadow: 0px 0px 1em grey;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ############################################ */


.matiere-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 77%;
    height: 24%;
    color: white;
    text-shadow: 0px 0px 2em white;

}
.matiere{
    width: 27%;

    margin-bottom: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fd-ic,.iconept{
    background-color: #b174ba;
    box-shadow: 0px 0px 1em black;
    filter: drop-shadow(0px 0px 0.2em mistyrose) brightness(1.2);
    font-size: 1.5em;
}

.fd-ic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 60px;
    padding: 10px 20px 10px 20px ;
    width: 100%;
    margin-bottom: 12%;

}
.iconept{
    border-radius: 20px;
    width: 1em;
    height: 1.5em;
    margin-right: 6%;

}


.ic-philosophie {
    width: 50px;
    height: 50px;
    background-image: url('Images/philosophie.png');
    background-size: cover;
}


.matiere>div>span {
    font-family: 'Edu Tas Beginner';
    font-size: 0.8em;
    white-space: unset;
}

.matiere-space>div>li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 6%;
}


@media only screen and (max-width: 1300px) {

    .profil-space {
        justify-content: space-between;
    }

    /* ############################################ */

    .matiere-space {

        flex-direction: column;
        margin-top: 12%;

    }
    .matiere{
        width: 100%;
    }


}